# Telegram Bot API
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id

# Public site config
NEXT_PUBLIC_SITE_URL=https://your-domain.com

# Tracking
NEXT_PUBLIC_GTM_ID=GTM-XXXXXXX
NEXT_PUBLIC_GA_ID=G-WX39WZP7JV
NEXT_PUBLIC_META_PIXEL_ID=123456789012345
